@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalnia:wdth,wght@100..125,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee7d3;
    color: #303233;
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.calendar__container {
    display: grid;
    grid-template-columns: calc(85% / 2) calc(65% / 2) 25%;
    grid-template-areas: "left middle aside";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.calendar__dial {
    position: relative;
    grid-area: middle;
    overflow: hidden;
    a {
        text-decoration: none;
        color: currentColor;
    }
}
.dial__rotor {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(var(--rot));
    width: 200%;
    aspect-ratio: 1 / 0.5;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #363635;
        transform: translate(-50%, -50%);
    }
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 106px;
        height: 106px;
        border-radius: 50%;
        border: 1px solid #363635;
        transform: translate(-50%, -50%);
    }
}
.calendar__dial-day {
    --angle: calc(360deg * var(--i) / var(--count) * -1);
    position: absolute;
    transform-origin: right center;
    top: 50%;
    transform: translateY(-50%) rotate(var(--angle));
    right: 50%;
    width: 50%;
    padding-left: 24px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 90%;
        right: 0;
        background-color: #30323317;
    }
}

.calendar__day {
    width: min-content;
    display: table-caption;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
    font-weight: 500;

    > span {
        display: inline-block;
        transform: translateY(-15px);
    }
}
.is-current {
    > .calendar__day {
        font-size: 32px;
        line-height: 32px;
        height: 32px;
        transform: translateX(-10px);
        > span {
            transform: translateY(-34px);
        }
    }
    &:after {
        background-color: #303233;
    }
    &:before {
        content: "";
        position: absolute;
        left: 10%;
        transform: translateX(-100%);
        width: 47px;
        height: 47px;
        border: 1px solid #363635;
    }
}

.calendar__aside {
    grid-area: aside;
    background-color: #dfd8c4;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 100vh;
    flex-direction: column;
    overflow: auto;
    > .calendar__aside-cell {
        height: 100vh;
        padding: 10px;
        display: flex;
        align-items: flex-end;
    }
}

/**
 * Test de profile 1
 */

:root {
    --heager-background: #001a31;
    --profile-container-offset: 92px;
    --bg-body: #eee7d3;
}

.modern-resp {
    position: absolute;
    display: flex;
    flex-direction: column;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee7d3;
}

.profile__header {
    background-color: var(--heager-background);
    height: 64px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.profile__main {
    display: grid;
    flex-grow: 1;
    flex-shrink: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "left-side left-side left-side left-side equip-left equip-left portait portrait portrait portrait equip-right equip-right";
    gap: 24px;
    padding: 32px 92px;
}
/* sinon mets 100% si le parent a une hauteur fixée */
.profile__left-side {
    display: flex;
    flex-direction: column;
    min-block-size: 0;
    grid-area: left-side;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    block-size: 100%;
    min-block-size: 0; /* permet aux enfants de prendre la hauteur */
    border-left: 1px solid #2a2a2a;
}

/* Item fermé : header visible + panel à 0fr (donc 0 hauteur) */
.accordion__item {
    display: grid;
    grid-template-rows: auto 0fr;
    transition: 0.2s ease flex;
}

/* Item ouvert : le panel prend TOUT l’espace disponible */
.accordion__item.is-open {
    grid-template-rows: auto 1fr;
    flex-grow: 1;
}

.accordion__header {
    margin: 0;
}

/* Bouton */
.accordion__trigger {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    padding: 10px 12px;
    cursor: pointer;
    font-weight: 600;
}
.accordion__trigger[aria-expanded="true"] {
    position: relative;
    padding-right: var(--profile-container-offset);
    z-index: 0;
    &:before {
        content: "";
        position: absolute;
        left: calc(var(--profile-container-offset) * -1 - 1px);
        height: 100%;
        background: blue;
        width: 50%;
        z-index: -1;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.accordion__panel {
    overflow: hidden;
    min-block-size: 0;
}

.accordion__scroll {
    block-size: 100%;
    min-block-size: 0;
    padding: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* categories */
.full-screen {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: var(--bg-body);
}

.categories__container {
    position: relative;
    overflow: clip;
    width: 100vw;
    height: 100vh;
    --curtains-width: 20%;
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: var(--curtains-width);
        height: 100%;
        transform: skewX(-7deg);
        background: rgba(0, 0, 0, 0.25);
        z-index: 10;
        transition: 0.2s ease;
    }
    &:before {
        top: 0;
        left: 0;
        transform-origin: top left;
        transform: skewX(-7deg);
    }
    &:after {
        top: 0;
        right: 0;
        transform-origin: bottom right;
        transform: skewX(-7deg);
    }
}
.categories__container:has(.categories__wrapper:hover) {
    /* style ou transition à appliquer au container */
    &:before,
    &:after {
        opacity: 0;
    }
    &:before {
        left: -16px;
    }
    &:after {
        right: -16px;
    }
}
.categories__wrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
}
